/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.habit-summary {
  font-size: smaller;
}

.habit-summary-positive {
  color: var(--color-green);
}

.habit-summary-negative {
  color: var(--color-red);
}

.habit-summary-focused {
  font-weight: bold;
}

.habit-lastdone {
  font-size: smaller;
}

.habit-piechart {
  color: var(--color-green);
  accent-color: var(--color-red);
}

.habit-piechart-tooltip {
  background-color: var(--background-secondary);
  padding: 2px;
  border-radius: 4px;
}

.habit-reldate {}